<!DOCTYPE html>
<html>

<head>
	<title>Login Register App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
     <!-- Include custom CSS -->
  <style>
    /* Center the text in the divs */
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 150px;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    /* Add some padding to the cards */
    .card-body {
      padding: 20px;
    }
  </style>
</head>

<body>
    <div class="container">
            <h2>Mobile Companies</h2>
        <div class="row">
          <% for (var i=0; i<data.length; i++) { %>
          <a href="/<%= data[i].competitor %>" >
            <div class="col-md-6 col-lg-4">
              <div class="card bg-info text-white">
                <div class="card-body">
                  <%= data[i].competitor %>
                </div>
              </div>
            </div>
          </a>
            <% } %>
      </div>
</body>
</html>
