<style>
  header {
    background-color: #619ba5;
    font-size: 15px;
    padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
</style>

<header>
    <nav class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <% if (user.length>0) { %>
          <li><a href="/profile">Welcome <%= user %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign up</a></li>
        <% } %>
      </ul>
    </nav>
</header>